

#content{
	margin: 3em;
	font-size: 32px;
}
#content a, #content p{
	font-size: 32px;
	text-decoration: none;
    
    font-weight: bold;
	font-family: helvetica,arial,sans-serif;
}

#content a{
	color: #555555;
}

#content p{
	color: #111111;
}